---
- name: confファイルを配置するrootディレクトリを作成
  ansible.builtin.file:
    path: ~/.config
    state: directory
    mode: "0755"

- name: dotfilesをclone
  ansible.builtin.git:
    repo: git@github.com:u1aryz/dotfiles.git
    dest: ~/.config/dotfiles
    version: main
    update: false

- name: karabinerのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.config/karabiner
    state: directory
    mode: "0755"

- name: zellijのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.config/zellij
    state: directory
    mode: "0755"

- name: ghosttyのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.config/ghostty
    state: directory
    mode: "0755"

- name: dockerのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.docker
    state: directory
    mode: "0755"

- name: fishのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.config/fish
    state: directory
    mode: "0755"

- name: miseのconfファイルを配置するディレクトリを作成
  ansible.builtin.file:
    path: ~/.config/mise
    state: directory
    mode: "0755"

- name: .fishディレクトリ内のファイル一覧を取得
  ansible.builtin.find:
    paths: ~/.config/dotfiles/.fish
    file_type: file
    recurse: true
  register: dotfiles_fish_files

- name: .fishディレクトリ内のファイルのシンボリックリンクを作成
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "~/.config/fish/{{ item.path | regex_replace('^.*/\\.fish/', '') }}"
    state: link
    force: true
  loop: "{{ dotfiles_fish_files.files }}"
  when: dotfiles_fish_files.files | length > 0

- name: シンボリックリンクを作成
  ansible.builtin.file:
    src: "~/.config/dotfiles/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  with_items: "{{ dotfiles_files }}"
