- name: confファイルを配置するrootディレクトリを作成
  file:
    path: ~/.config
    state: directory

- name: dotfilesをclone
  git:
    repo: git@github.com:u1aryz/dotfiles.git
    dest: ~/.config/dotfiles

- name: karabinerのconfファイルを配置するディレクトリを作成
  file:
    path: ~/.config/karabiner
    state: directory

- name: シンボリックリンクを作成
  file:
    src: "~/.config/dotfiles/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
  with_items: "{{ files }}"
