- name: vscodeをインストール
  homebrew_cask:
    name: visual-studio-code
    state: installed
    install_options: "appdir=/Applications"

- name: vscodeのプラグインをインストール
  shell: "code --install-extension {{ item }}"
  with_items: "{{ vscode_plugins }}"
  changed_when: no
